/* Reset de propriedades */
* {margin: 0;
    padding: 0;
    box-sizing: border-box;}
    
    body {font-family: 'Quicksand', sans-serif;
    color: grey;
    background-image:url();}
    
    
    
    header a {color: red;}


header nav { width: 200px;
    display: flex;
align-items: center;
justify-content: space-between;}

    header nav a {color: white;
    text-decoration: none;}
    
    #imagemlapis {width: 100%;}
    
    
    /* Cabeçalho */
    
    header {background-color: gray;}
    
    .header-flex {display: flex;
    justify-content: space-between;}
    
    .container-grid {width: 80%;
    margin: 0 auto;
    background-color: purple;}
    
    header h1 {color: white;
    font-weight: 300;
    }
    
    header h1 #logoux {font-style: italic;
    font-weight: 600;
    margin-left: 10px;}
    
    /* 
     header h2 {color: white;
    border: 1px solid red;
    width: 80px;
    height: 30px;
    margin-top: 20px;
    }  */


    /* MAIN PAGE */

    .colunas-flex {display: flex;
    justify-content: space-between;}

    main .coluna1 {width: 75%;
    background-color: green;}

    main .coluna2 {width: 20%;
    background-color: rgb(0, 60, 255);}

    .marginp {margin-top: 15px;
    margin-bottom: 15px;
margin-left: 15px;
margin-top: 15px;}

.artposition {display: flex;
flex-direction: column;
justify-content: space-between ;}