/* Reset de propriedades */
* {margin: 0;
    padding: 0;
    box-sizing: border-box;}
    
    body {font-family: 'Quicksand', sans-serif;
    color: grey;
    background-color: #EDECED;
    background-image:url();}
    
    
    
    header a {color: red;}


header nav { width: 200px;
    display: flex;
align-items: center;
justify-content: space-between;}

    header nav a {color: white;
    text-decoration: none;}
    
    #imagemlapis {width: 100%;}
    
    
    /* Cabeçalho */
    
    header {background-color: #676767;
    margin-bottom: 20px;}
    
    .header-flex {display: flex;
    justify-content: space-between;}
    
    .container-grid {width: 100%;
    margin: 0 auto;
    /* background-color: purple; */
max-width: 1000px;
min-width: 992px;}
    
    header h1 {color: white;
    font-weight: 300;
    }
    
    header h1 #logoux {font-style: italic;
    font-weight: 600;
    margin-left: 10px;}
    
    /* 
     header h2 {color: white;
    border: 1px solid red;
    width: 80px;
    height: 30px;
    margin-top: 20px;
    }  */


    /* MAIN PAGE */

    .colunas-flex {display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
/* Coluna referente a div do conteúdo principal */
    main .coluna1 {width: 75%;
    background-color: white;}

    main .coluna1 h2 {margin: 20px}

main .coluna1 p {margin: 20px;
line-height: 24px;}


        /* margem conteudo paragrafo conteudo principal */
        .marginp {
            margin-bottom: 15px;
        margin-left: 15px;
        margin-top: 15px;
        }

    /* Coluna referente das sections */
    main .coluna2 {width: 20%;
    background-color: white;}

/* POSIÇÃO DAS SECTIONS */
.artposition {display: flex;
flex-direction: column;
justify-content: space-between ;
}


footer {background-color: #676767;
padding: 20px 0;}
/* ICONS */